* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #3c5077;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  padding: 10px 60px;
  background-color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
}

input,
button {
  display: block;
  margin-top: 10px;
  padding: 5px;
  outline: none;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #2e426a;
  visibility: hidden;
}

.form button {
  width: 100%;
  cursor: pointer;
}

span {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #020c31;
  color: #fff;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
span:hover {
  background-color: #071b64;
}

.open-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.4s;
}