@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
  font-family: "Ubuntu", sans-serif;
  /* font-family: "Hind Siliguri", sans-serif; */
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.phone {
  position: relative;
  overflow: hidden;
  border: 0px solid #606060;
  box-shadow: 1px 2px 10px #868686b7;
  border-radius: 15px;
  height: 600px;
  width: 340px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  background-color: #f5fdff;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  transition: opacity 0.4s ease;
}
.content:nth-child(2) {
  background-color: #fff5d8;
}
.content:nth-child(3) {
  background-color: #beffcb;
}
.content:nth-child(4) {
  background-color: #f1c7ff;
}

.phone .content.show {
  opacity: 1;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -5px;
  width: 100%;
}

nav ul {
  background-color: #ffffff;
  border-top: 1px solid #d8d8d8;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60px;
}

nav li {
  color: #777;
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
}

nav ul li p {
  font-size: 12px;
  margin: 2px 0;
}

nav ul li:hover,
nav ul li.active {
  color: #1da7c6;
}