@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background: rgb(33, 109, 163);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_Container {
  width: 90%;
  max-width: 450px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: -2px 2px 16px rgb(91, 77, 77);
}

h2 {
  font-size: 30px;
  color: #0088ff;
}

.underline {
  width: 80px;
  height: 5px;
  background-color: #0088ff;
  margin: 10px auto 50px auto;
  border-radius: 5px;
  position: relative;
  right: 20px;
  transition: transform 0.5s;
}

.input_field {
  background-color: #eaeaea;
  margin: 15px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;

  /* --------------- */
  max-height: 60px;
  transition: max-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  background-color: transparent;
  padding: 18px 15px;
  outline: none;
  border: none;
}

i {
  margin-left: 15px;
  color: #999;
}

.fa-eye,
.fa-eye-slash {
  padding-right: 40px;
  color: #d2d2d2;
  cursor: pointer;
}

.fa-eye:hover,
.fa-eye-slash:hover {
  color: #999;
}

p {
  text-align: left;
}

a {
  text-decoration: none;
  color: #0088ff;
}
a:hover {
  text-decoration: underline;
}

.btnbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btnbox button {
  flex-basis: 48%;
  background-color: #0088ff;
  color: aliceblue;
  height: 40px;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.5s;
}

button.btnInactive {
  background: #eaeaea;
  color: #555;
}

button.btnInactive:hover {
  background: #cfcfcf;
}

.input_field_box {
  height: 220px;
}