@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_container {
  height: 480px;
  width: 380px;
  background-color: #fff;
  position: relative;
  margin: 6% auto;
  padding: 5px;
  overflow: hidden;
}

.switchbtn_box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 10px #ff2cce4b;
  border-radius: 30px;
}

.switchbtn_box button:nth-child(3) {
  margin-left: 20px;
}

.toggle_button {
  padding: 10px 25px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#switch_effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #7efdff, #ec40ffbe);
  border-radius: 30px;
  transition: 0.5s;
}

.social_icon {
  margin: 30px auto;
  text-align: center;
}

.social_icon i {
  height: 30px;
  width: 30px;
  margin: 0 12px;
  border: 1px solid rgb(164, 164, 164);
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.social_icon i:hover {
  background: #1e1e1e;
  color: #fff;
  transition: 0.3s;
  box-shadow: 0 0 20px 0 #97ffff;
}

form {
  position: absolute;
  top: 180px;
  width: 280px;
  transition: 0.5s;
}

.input_field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit_btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #7efdff, #ec40ffbe);
  border: none;
  outline: none;
  border-radius: 30px;
}

.check_box {
  margin: 30px 10px 30px;
  cursor: pointer;
}
span {
  color: #777;
  font-size: 12px;
  position: absolute;
  bottom: 66px;
}

button {
  font-weight: 500;
}

/* ----------------------- */

#login_form {
  left: 50px;
}

#register_form {
  left: 450px;
}