* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(45, 57, 57);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.qr-container {
  background-color: antiquewhite;
  box-shadow: 0 0 10px rgb(112, 112, 112);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.qr-container h2 {
  margin-bottom: 10px;
  color: #333;
  font-family: Arial, sans-serif;
}

#qr-input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

#qr-button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(36, 19, 161);
  cursor: pointer;
  background-color: rgb(36, 19, 161);
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

#qr-button:hover {
  background-color: rgb(28, 15, 126);
}

#qr-img {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;
}