* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
body {
  background: #588a86;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  height: 40px;
  width: 300px;
  margin-top: -200px;
}
.input_password {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  border: none;
  outline: none;
  padding: 5px 15px;
  color: #588a86;
  padding-right: 40px;
  border-radius: 4px;
}
.input_password:focus {
  box-shadow: 0 0 0 3px #588a86, 0 0 0 6px #115953;
}
.show_password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #588a86;
  cursor: pointer;
}
/* ---------------- */

.password_checklist {
  position: absolute;
  top: calc(100% + 15px);
  width: 100%;
  background-color: #2f6964;
  border-radius: 4px;
  padding: 20px 30px;

  pointer-events: none;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s ease;
}
.input_password:focus ~ .password_checklist {
  opacity: 1;
  transform: translateY(0px);
}
.title {
  font-size: 15px;
  color: #76bfb9;
  margin-bottom: 10px;
}

.checklist {
  list-style: none;
}
.list_item {
  padding-left: 30px;
  color: aliceblue;
}
.list_item::before {
  content: "\f00d";
  font-family: FontAwesome;
  display: inline-block;
  margin: 8px 0;
  margin-left: -30px;
  width: 25px;
}
.list_item.checked {
  opacity: 0.3;
}
.list_item.checked::before {
  content: "\f00c";
  color: #d7a5af;
}